<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Micky Kumar</title>
    <head>
      <meta charset="utf-8">
      <title>Micky Kumar</title>
      <h1>Micky Kumar </h1>
      <link rel="stylesheet" href="styles.css">
      <nav>
        <a href="index.html" class ="{% if page.url == '/index.html'%}current{% endif %}">home</a>
        <a href="AboutMe.html" class ="{% if page.url == '/AboutMe.html'%}current{% endif %}">About</a>
        <a href="educations.html" class ="{% if page.url == '/educations.html'%}current{% endif %}">Educations</a>
        <a href="Organization.html" class ="{% if page.url == '/Organization.html'%}current{% endif %}">Organization</a>
        <a href="Contact.html" class ="{% if page.url == '/Contact.html'%}current{% endif %}">Contact</a>

      </nav>
    </head>
<body>
  <img src="me.jpg" alt="" width="160" height="100">

  <pclass="intro">To secure a challenging position in Data science and engineer where I can
effectively contribute my skills that offer professional growth and add company
value.</p>
</body>
<footer>
  <p> Copyright 2020  Micky Kumar</p>
</footer>
</html>
