<html>
  <head>
    <title>Micky Kumar</title>
    <head>
      <meta charset="utf-8">
      <title>Micky Kumar</title>
      <h1>Micky Kumar </h1>
      <link rel="stylesheet" href="styles.css">
      <nav>
        <a href="index.html" class ="{% if page.url == '/index.html'%}current{% endif %}">home</a>
        <a href="AboutMe.html" class ="{% if page.url == '/AboutMe.html'%}current{% endif %}">About</a>
        <a href="educations.html" class ="{% if page.url == '/educations.html'%}current{% endif %}">Educations</a>
        <a href="Organization.html" class ="{% if page.url == '/Organization.html'%}current{% endif %}">Organization</a>
        <a href="Contact.html" class ="{% if page.url == '/Contact.html'%}current{% endif %}">Contact</a>

      </nav>
    </head>

<body>
  <h3>Organization May include: </h3>
  <p><ul>
    <li>Testoper</li>
    <li>SSU (Sheridan Student Union)</li>
    <li>Sheridan Business Council - Sheridan College</li>
    <li> Stadium Comics </li>
  </ul></p>
</body>
<footer>
  <p> Copyright 2020  Micky Kumar</p>
</footer>
</html>
